@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Oswald:wght@400;700&display=swap');

* {margin: 0; padding: 0; border: 0; box-sizing: border-box; font-family: "Noto Sans KR", sans-serif; letter-spacing: -1px; text-decoration: none;}
img {vertical-align: middle; max-width: 100%;}
/* 공통 */
.common_box > div > div .padding_clear {padding: 0 !important; }
.f9f9f9_color {background-color: #F9F9F9 !important;}
.margin_top10 {margin-top: 10px !important;}

/* 01 - 통로이미지 접수일자*/
.common_box {width: 100%; float:left; min-width:1200px;}
.common_box > div { width: 1200px; margin: 0 auto;}
.common_box > div > div {width: 100%; float: left;}
.common_box > div > div .container_area {width: 100%; float: left; padding: 0 100px;}

.common_box .container_area .top_area {width: 100%; float: left; padding-top: 70px;}
.container_area .top_area .num_title {width: 100%; float: left; text-align: center; color: #aaa; font-size: 50px; font-weight: 700;}
.container_area .top_area .information_title {width: 100%; float: left; text-align: center; color: #010101; font-size: 50px; font-weight: 700;}

.content_area {width: 100%; float: left; margin-top: 70px; padding-bottom: 50px;}
.content_area .warning_param {width: 100%; float: left; background-color: #4e3ca0; border-radius: 20px 20px 0 0; text-align: center; font-size: 40px; font-weight: 500; color: #b6b0d4; padding: 10px 0;}
.content_area .date_intro {width: 100%; float: left; padding: 20px 30px; border:3px solid #4e3ca0; border-radius: 0 0 20px 20px;}
.date_intro > div {width: 100%; float: left; padding: 5px 0 10px; text-align: center; font-size: 30px; font-weight: 500; border-bottom: 1px dashed #c0c0c0;}
.date_intro > div:last-child {border: none;}
.date_intro .check_signal {width: 12%; float: left; text-align: right; font-size: inherit; font-weight: 700; color: #4e3ca0;}
.date_intro .reception_area {width: 22%; float: left; margin-left: 20px; text-align: left; font-size: inherit; font-weight: 500;  letter-spacing: 0;}
.date_intro .yymmdd {width: 63%; float: left; text-align: left; font-size: inherit; font-weight: 500; letter-spacing: 0;}
.date_intro .yymmdd > span.red_point {font-size: inherit; font-weight: 500; color: #cc3333; letter-spacing: 0;}

.alert_area {width: 100%; float: left; font-size: 22px; font-weight: 300; color: #8c8c8c; margin-top: 20px; padding-left: 10px;}

/* 02 - 미다웍스 체험하기 */
.content_area .mini_box {width: 32%; float: left; text-align: center;}
.content_area .middle_box {width: 36%; padding: 0 2%;}

.content_area .mini_box .img_box {width: 100%; float: left; border: 2px solid #EFEFEF; border-bottom: none; border-radius: 50px 50px 0 0; padding-top: 30px;}
.content_area .img_box div {width: 100%; float: left; font-size: 33px;}
.content_area .img_box div.img_img {font-size: 0; margin-top: 10px;}
.content_area .img_box p {width: 100%; float: left;}
.content_area .img_box p.main_title {font-weight: 700;}
.content_area .img_box p.mint_color {color: #7CD4C0;}
.content_area .img_box p.sky_color {color: #467CDF;}
.content_area .img_box p.purple_color {color: #4D276B;}

.content_area .mini_box .hyperlink_box {width: 100%; float: left; color: #FFF; font-size: 30px; font-weight: 700;  border-radius: 0 0 50px 50px;}
.content_area .mini_box .mint_bg {background-color: #7CD4C0;}
.content_area .mini_box .sky_bg {background-color: #467CDF;}
.content_area .mini_box .purple_bg {background-color: #4D276B;}
.content_area .mini_box .hyperlink_box a {width: 100%; float: left; color: inherit; padding: 26px 20px;}

/* 03 - 미다웍스 완성도가 높은 이유 */
.container_area .top_area .skyblue_color {color: #469BCF;}
.container_area .top_area .information_sub {width: 100%; float: left; text-align: center; color: #666; font-size: 25px; font-weight: 300;}
.container_area .content_area .large_img {width: 44%; float: left; padding: 110px 80px;}
.container_area .content_area .small_imgs {width: 56%; float: left;}
.content_area .small_imgs .mini_line {width: 100%; float: left;}
.content_area .small_imgs .mini_line:not(:first-child) {margin-top: 45px;}
.content_area .small_imgs .circle_img {width: 26%; height: 172px; float: left; border-radius: 50%; border: 4px solid #BBDDF2; background-color: #FFF;}
.content_area .small_imgs .circle_img img {padding: 34px;}
.content_area .small_imgs .img_text {width: 74%; float: left; padding: 24px 35px 0;}
.small_imgs .img_text .text_tittle {width: 100%; float: left; font-size: 22px; font-weight: 500;}
.small_imgs .img_text .text_content {width: 100%; float: left; font-size: 17px; font-weight: 300;}